@import url('https://fonts.googleapis.com/css?family=Rubik:wght@500;800;&display=swap');
:root{
  --color-light: 255, 255, 255;
  --color-dark: 0, 0, 0;
  --color-accent: 4, 195, 142;
  --font-size-big: 2.5rem;
  --font-size-med: 1.6rem;
  --font-size-sma: 1.1rem;
  --font-weight-heavy: 800;
  --font-weight-light: 500;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik Bold", sans-serif;
}
html {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scrollbar-width: initial;
}
.scroll-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.scroll-block {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000116;
  scroll-snap-align: center;
}
.header {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.header h1{
  padding: 1.5rem;
  text-align: center;
  color: rgba(var(--color-light), 0.85);
  font-size: var(--font-size-big);
  font-weight: var(--font-weight-heavy);
  line-height: 1;
  text-decoration-line: underline;
  text-decoration-color: rgba(var(--color-accent), 0.85);
  text-decoration-thickness: 4px;
}
.header.section-0 {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.header.section-0 h1{
  padding: 0 0.4em 0.2em 0.4em;
  color: rgba(var(--color-light), 0.85);
  background-color: rgba(var(--color-dark), 0.6);
  border-radius: 0px 0px 8px 8px;
  text-decoration-line: none;
  opacity: 1;
  animation: animateHeader 1s linear forwards;
}
.header.section-0 h1:nth-child(1) {
  animation-delay: 4s;
}
.header.section-0 h1:nth-child(2) {
  padding-top: 0.2em;
  background-color: rgba(var(--color-dark), 0.3);
  font-size: var(--font-size-med);
  font-weight: var(--font-weight-light);
  animation-delay: 5s;
}
@keyframes animateHeader {
  0% { opacity: 0%; }
  100% { opacity: 100%; }
}
.album{
  position: relative;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  max-height: 700px;
  margin: 1rem;
  border-radius: 8px;
}
.album .image-container{
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: circle(0% at 0 50%);
}
.album .image-container.active{
  clip-path: circle(70.5% at 50% 50%);
  transition: 0.4s;
}
.album .image-container img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.album .image-container .gif{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 48px;
  right: 0.4em;
  top: 0.4em;
  border-radius: 8px;
  background-color: rgba(var(--color-dark), 0.4);
  color: rgba(var(--color-light), 0.6);
  font-size: var(--font-size-sma);
  font-weight: var(--font-weight-heavy);
}
.album .image-container .info{
  position: absolute;
  color: #222;
  background: rgba(var(--color-light), 0.9);
  box-shadow: 5px 5px 5px rgba(var(--color-dark), 0.2);
  border: rgba(var(--color-dark), 1) solid 0.5px;
  border-radius: 8px;
  max-width: 70%;
  margin-top: 1rem;
  margin-left: 1rem;
  padding: 1em;
  opacity: 0;
  backdrop-filter: blur(6px);
  transition: opacity 0.4s ease;
}
.album .image-container .info h2{
  font-size: var(--font-size-med);
  font-weight: var(--font-weight-heavy);
  padding-bottom: 0.4em;
}
.album .image-container .info p{
  font-size: var(--font-size-sma);
  font-weight: var(--font-weight-light);
  letter-spacing: 0.03em;
}
.navigation{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.album:hover .navigation, .album:hover .info{
  opacity: 1;
}
/* .album:hover .info{
  opacity: 1;
} */
.prev-btn, .next-btn{
  z-index: 999;
  padding: 0.2em;
  color: rgba(var(--color-dark), 1);
	background: rgba(var(--color-light), 0.9);
  box-shadow: 4px 4px 4px rgba(var(--color-dark), 0.2);
  font-size: var(--font-size-med);
  cursor: pointer;
}
.prev-btn{
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-right: 0.4em;
}
.next-btn{
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding-left: 0.4em;
}
.prev-btn:hover, .next-btn:hover {
  color: rgba(var(--color-accent), 1);
}
.prev-btn:active, .next-btn:active {
  color: rgba(var(--color-light), 1);
  background: rgba(var(--color-accent), 1);
}
.navigation-icon-container{
  position: relative;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-self: flex-end;
  margin: 1rem;
}
.navigation-icon-container .navigation-icon{
  z-index: 999;
  background: rgba(var(--color-light), 0.7);
  width: 8px;
  height: 8px;
  margin: 0 0.4rem;
  border-radius: 2px;
  /* transform: translateY(0px); */
}
.navigation-icon-container .navigation-icon.active{
  background: rgba(var(--color-accent), 1);
  box-shadow: 0px 0px 6px rgba(var(--color-accent), 1);
}

@media (max-width: 500px){

  .header h1 {
    font-size: clamp(1rem, 8vw, 2rem);
    padding: 1em 1em;
    margin: 0px;    
  }
  .album {
    max-width: none;
    max-height: none;
    width: 100%;
    height: 75%;
  }
  .album .image-container .info {
    width: 100%;
    max-width: none;
    border-radius: 0;
    margin-top: 0;
    margin-left: 0;
  }
  .album .image-container .info h2{
    font-size: clamp(0.8em, 4vw, 1.6em); 
  }
  .album .image-container .info p{
    font-size: clamp(0.5rem, 3vw, 1.2em); 
  }
}